@model List<BloodBank.Models.Domain.Donor>

@{
}

<h1>Donors</h1>

<table class="table">
  <thead>
      <tr>
          <th>Id</th>
          <th>FirstName</th>
          <th>LastName</th>
          <th>Social</th>
          <th>Email</th>
          <th>Race</th>
          <th>DateofBirth</th>
          <th>DonationDate</th>
      </tr>
  </thead>
  <tbody>
        @foreach (var donor in Model)
        {
            <tr>
                <td>@donor.Id</td>
                <td>@donor.FirstName</td>
                <td>@donor.LastName</td>
                <td>@donor.Social</td>
                <td>@donor.Email</td>
                <td>@donor.Race</td>
                <td>@donor.DateofBirth?.ToString("dd-MM-yyyy")</td>
                <td>@donor.DonationDate?.ToString("dd-MM-yyyy")</td>
                <td><a href="Donors/View/@donor.Id">view</a></td>
            </tr>
        }
    </tbody>
</table>